.product-card {
  background-color: var(--div);
}

.product-card .image,
.product-card .image img {
  max-width: 100%;
}

.product-card .details {
  padding: 10px 10px 15px;
}

.product-card .name {
  color: var(--black);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-card .price {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-size: 400;
}

.product-card .new {
  color: var(--black);
}

.product-card .old {
  color: var(--text);
  text-decoration-line: line-through;
}